<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UAT.Runner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <specFlow>
    <unitTestProvider name="Mstest" />
    <trace stepDefinitionSkeletonStyle="MethodNameUnderscores" />

  </specFlow>
  <userSettings>
    <UAT.Runner.Settings>
      <setting name="Browser" serializeAs="String">
        <value>IE</value>
      </setting>
    </UAT.Runner.Settings>
  </userSettings>
</configuration>